/********* howlifeworks In Peril **********/

#sub-life-and-how-it-works,#sub-life-and-how-it-works-evolution-and-natural-selection,#sub-life-and-how-it-works-evolution-and-natural-selection-evolving-to-live-together,#sub-life-and-how-it-works-evolution-and-natural-selection-evolving-to-live-together-extreme-evolution,#sub-life-and-how-it-works-evolution-and-natural-selection-mutant,#sub-life-and-how-it-works-extinction,#sub-life-and-how-it-works-extinction-the-rise-of-the-mammals,#sub-life-and-how-it-works-extinction-ultimate-survivors,#sub-life-and-how-it-works-extinction-ultimate-survivors-shark-the-ultimate-survivor,#sub-life-and-how-it-works-how-did-life-begin,#sub-life-and-how-it-works-how-did-life-begin-creation-of-o, #sub-life-and-how-it-works-how-did-life-begin-the-first-living-cells,#sub-life-and-how-it-works-how-did-life-begin-what-were-aliens,#sub-life-and-how-it-works-the-future,#sub-life-and-how-it-works-the-future-conservation,#sub-life-and-how-it-works-the-future-genetic-engineering{
  background:url('images/9-12/The_Wonders_of_Science/Life_And_How_It_Works/Life_And_How_It_Works_bg.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#sub-life-and-how-it-works-evolution-and-natural-selection-dna{
  background:url('images/9-12/The_Wonders_of_Science/Life_And_How_It_Works/Evolution_And_Natural_Selection/Dna/Dna_BG.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#sub-life-and-how-it-works-evolution-and-natural-selection-mutants-what-were-mutants{
  background:url('images/9-12/The_Wonders_of_Science/Life_And_How_It_Works/Evolution_And_Natural_Selection/Mutants/What_Were_Mutants/What_Were_Mutants_BG.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;	
}

#sub-life-and-how-it-works-extinction-the-end-of-the-dinosaurs{
  background:url('images/9-12/The_Wonders_of_Science/Life_And_How_It_Works/Extinction/The_End_Of_The_Dinosaurs/The_End_Of_The_Dinosaurs_BG.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;	
}
#sub-life-and-how-it-works-extinction-the-five-extinctions{
  background:url('images/9-12/The_Wonders_of_Science/Life_And_How_It_Works/Extinction/The_Five_Extinctions/The_Five_Extinctions_BG.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;	
}
#sub-life-and-how-it-works-how-did-life-begin-primordial-soup{
  background:url('images/9-12/The_Wonders_of_Science/Life_And_How_It_Works/How_Did_Life_Begin/Primordial_Soup/Primordial_Soup_BG.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;	
}

.plhowlifeworks, .pshowlifeworks, .bhowlifeworks, .fhowlifeworks {
  position:absolute;
  top:670px;
  left:1024px;
  z-index:20;
}

.micbtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/mic.png') no-repeat 0 -81px;
  height:81px;
  width:81px;
}

.rwhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/rw.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.plpshowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/play.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.fwhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/fw.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.menubtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/menu.png') no-repeat 0 -90px;
  height:90px;
  width:90px;
}


.homebtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/map.png') no-repeat 0 -74px;
  height:74px;
  width:80px;
}

.mpbtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/mpoints.png') no-repeat 0 -84px;
  height:79px;
  width:80px;
}

.cpbtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/ctrlpnl.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.infobtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/info.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.credsbtnhowlifeworks {
  background:url('images/9-12/The_Wonders_of_Science/credits.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.navhowlifeworks-content {
	position: absolute;
	left: 305px;
	top: 263px;
	width: 410px;
	height: 359px;
	overflow-y: scroll;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navhowlifeworksbtn1{
	left: 134px;
    position: absolute;
    top: 405px;
}

.navhowlifeworksbtn2 {
    left: 394px;
    position: absolute;
    top: 435px;
}
.navhowlifeworksbtn3 {
    left: 657px;
    position: absolute;
    top: 405px;
}
#sub-life-and-how-it-works .bptitleholder,#sub-life-and-how-it-works-evolution-and-natural-selection .bptitleholder,#sub-life-and-how-it-works-evolution-and-natural-selection-evolving-to-live-together .bptitleholder,#sub-life-and-how-it-works-evolution-and-natural-selection-evolving-to-live-together-extreme-evolution .bptitleholder,#sub-life-and-how-it-works-evolution-and-natural-selection-mutant .bptitleholder,#sub-life-and-how-it-works-extinction .bptitleholder,#sub-life-and-how-it-works-extinction-the-rise-of-the-mammals .bptitleholder,#sub-life-and-how-it-works-extinction-ultimate-survivors .bptitleholder,#sub-life-and-how-it-works-extinction-ultimate-survivors-shark-the-ultimate-survivor .bptitleholder,#sub-life-and-how-it-works-how-did-life-begin .bptitleholder,#sub-life-and-how-it-works-how-did-life-begin-creation-of-o .bptitleholder, #sub-life-and-how-it-works-how-did-life-begin-the-first-living-cells .bptitleholder,#sub-life-and-how-it-works-how-did-life-begin-what-were-aliens .bptitleholder,#sub-life-and-how-it-works-the-future-conservation .bptitleholder,#sub-life-and-how-it-works-the-future-genetic-engineering .bptitleholder{
width: 627px;
height: 68px;
text-align: center;
line-height: 28px;
position: absolute;
top: 169px;
left: 194px;
}
#sub-life-and-how-it-works-evolution-and-natural-selection-dna  .bptitleholder{
	width: 490px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 43px;
	left: 36px;
}
#sub-life-and-how-it-works-evolution-and-natural-selection-mutants-what-were-mutants .bptitleholder{
	width: 490px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 26px;
	left: 255px;
}
#sub-life-and-how-it-works-extinction-the-end-of-the-dinosaurs .bptitleholder{
	width: 580px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 20px;
	left: 235px;
}
#sub-life-and-how-it-works-extinction-the-five-extinctions .bptitleholder{
	width: 580px;
	height: 36px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 9px;
	left: 235px;
}

#sub-life-and-how-it-works-how-did-life-begin-primordial-soup .bptitleholder{
	width: 580px;
	height: 36px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 9px;
	left: 215px;
}

#sub-life-and-how-it-works .bptitleholder h1,#sub-life-and-how-it-works-evolution-and-natural-selection .bptitleholder  h1,#sub-life-and-how-it-works-evolution-and-natural-selection-dna  .bptitleholder h1,#sub-life-and-how-it-works-evolution-and-natural-selection-evolving-to-live-together .bptitleholder h1,#sub-life-and-how-it-works-evolution-and-natural-selection-evolving-to-live-together-extreme-evolution .bptitleholder h1,#sub-life-and-how-it-works-evolution-and-natural-selection-mutant .bptitleholder h1,#sub-life-and-how-it-works-extinction .bptitleholder h1,#sub-life-and-how-it-works-extinction-the-rise-of-the-mammals .bptitleholder h1,#sub-life-and-how-it-works-extinction-ultimate-survivors .bptitleholder h1,#sub-life-and-how-it-works-extinction-ultimate-survivors-shark-the-ultimate-survivor .bptitleholder h1,#sub-life-and-how-it-works-how-did-life-begin .bptitleholder h1,#sub-life-and-how-it-works-how-did-life-begin-creation-of-o .bptitleholder h1, #sub-life-and-how-it-works-how-did-life-begin-the-first-living-cells .bptitleholder h1,#sub-life-and-how-it-works-how-did-life-begin-what-were-aliens .bptitleholder h1,#sub-life-and-how-it-works-the-future .bptitleholder h1,#sub-life-and-how-it-works-the-future-conservation .bptitleholder h1,#sub-life-and-how-it-works-the-future-genetic-engineering .bptitleholder h1{
	text-transform: uppercase;
	color: #ffffff !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

/* Custom Page */
#sub-life-and-how-it-works-evolution-and-natural-selection-mutants-what-were-mutants .bptitleholder h1{
	text-transform: uppercase;
	color: #000000 !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
}
#sub-life-and-how-it-works-extinction-the-end-of-the-dinosaurs .bptitleholder h1{
	text-transform: uppercase;
	color: #000000 !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
}
#sub-life-and-how-it-works-extinction-the-five-extinctions .bptitleholder h1{
	text-transform: uppercase;
	color: #FFFFFF !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
}
#sub-life-and-how-it-works-how-did-life-begin-primordial-soup .bptitleholder h1{
	text-transform: uppercase;
	color: #000000 !important;
	font-family: "comic sans ms" !important;
	font-weight: bold;
	padding: 0;
	margin: 0;	
}

.bpcontenthowlifeworks{
	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;
}

.bpcontent_messing_body_clock {
	color: #ffffff;
	font-family: "comic sans ms";
	font-size: 18px;
	font-weight: normal;
	height: 356px;
	margin-left: 0px;
	position: absolute;
	text-align: center;
	top: 65px;
	width: 94%;
}

.bpcontent_messing_social_jetlag {
	color: #000000;
	font-family: "comic sans ms";
	margin-left: 70px;
	position: absolute;
	top: 65px;
	width: 850px;
	font-weight: normal;
}

.bpcontent_messing_social_jetlag h1{
  text-transform:uppercase;
  color: #ffffff;
  font-family:"comic sans ms";
  font-weight:normal;
  padding:0;
  margin:0;
}

.bpcontent_messing_social_jetlag_new {
	color: #000000;
	font-family: "comic sans ms";
	margin-left: 70px;
	position: absolute;
	top: 240px;
	width: 600px;
	font-weight: normal;
}
.navhowlifeworks-content3{
  position:absolute;
  left:59px;
  top:263px;
  width:920px;
  height:160px;
  overflow-y:scroll;
  text-align:left;
  font-family:"comic sans ms";
  font-size:18px;
  font-weight:normal;
  color:#000000;
}
.navevolutionandnaturalselectionbtn1{
	position: absolute;
	left: 134px;
}
.navevolutionandnaturalselectionbtn2{
	position: absolute;
	left: 394px;
}
.navevolutionandnaturalselectionbtn3{
	position: absolute;
	left: 657px;
}
.navhowlifeworks-dna{
	position: absolute;
	left: 65px;
	top: 98px;
	width: 444px;
	height: 535px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}
.navhowlifeworks-what-were-mutants{
	position: absolute;
	left: 48px;
	top: 80px;
	width: 930px;
	height: 535px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navhowlifeworks-theendofthedinosaurs{
	position: absolute;
	left: 48px;
	top: 70px;
	width: 930px;
	height: 535px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

.navhowlifeworks-thefiveextinctions{
	position: absolute;
	left: 48px;
	top: 47px;
	width: 930px;
	height: 535px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}
.navhowlifeworks-primordialsoup{
	position: absolute;
	left: 48px;
	top: 47px;
	width: 930px;
	height: 535px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}