/********* Extreme Weather  **********/

#map  {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/What_Is_Weather/You_CanTell_The_Future/Translating_A_Weather_Map/Translating_A_Weather_Map_Bg.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}





.storypageweather{
	top: 321px;
	position: absolute;
	font-family:"comic sans ms";
	width: 441px;
	right: 32px;
	font-weight: normal;
	height: 330px;
	overflow: auto;	
	color:#000000;
}

.storypagetitleweather{
	text-align: center;
	margin-top: 55px;
}
#weather , #prepared , #weather_change , #safed , #storm , #definition , #pressurize , #wacky , #tell_future , #pagecard1 , #pagecard2 , #pagecard3 , #pagecard4 , #baked , #parched , #soaked , #thunder , #supercells , #winter_storm , #cyclones  {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/Extreme_Weather.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#weather_forms {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/Forms_Of_Extreme_Weather/Forms_Of_Extreme_Weather_Bg.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#geography {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/Forms_Of_Extreme_Weather/The_Geography_Of_Weather/GOW_Bg.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

.plweather, .psweather, .bweather, .fweather {
  position:absolute;
  top:670px;
  left:1024px;
  z-index:20;
}

.plpsweather {
  background:url('images/9-12/The_Wonders_of_Science/play.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.micbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/mic.png') no-repeat 0 -81px;
  height:81px;
  width:81px;
}

.rwweather {
  background:url('images/9-12/The_Wonders_of_Science/rw.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.plpsweather {
  background:url('images/9-12/The_Wonders_of_Science/play.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.fwweather {
  background:url('images/9-12/The_Wonders_of_Science/fw.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.menubtnweather {
  background:url('images/9-12/The_Wonders_of_Science/menu.png') no-repeat 0 -90px;
  height:90px;
  width:90px;
}


.homebtnweather {
  background:url('images/9-12/The_Wonders_of_Science/map.png') no-repeat 0 -74px;
  height:74px;
  width:80px;
}

.mpbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/mpoints.png') no-repeat 0 -84px;
  height:79px;
  width:80px;
}

.cpbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/ctrlpnl.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.infobtnweather {
  background:url('images/9-12/The_Wonders_of_Science/info.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.credsbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/credits.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.weather .bptitleholder{
	width: 627px;
	height: 68px;
	text-align: center;
	line-height: 28px;
	position: absolute;
	top: 169px;
	left: 194px;	
}
.weather .bptitleholder h1, h1 {
text-transform: uppercase;
color: #FFFFFF;
font-family: "Chalkboard SE";
font-weight: bold;
padding: 0;
margin: 0;
}
.sub_weather_be_prepared_text,.sub_extreme_weather_text,.sub_extreme_weather_creating_strom_text{
	position: absolute;
	left: 305px;
	top: 263px;
	width: 410px;
	height: 359px;
	overflow-y: scroll;
	text-align: left;
	font-family: "comic sans ms";
	font-size: 18px;
	color:#000000;
}

#weather .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}


.navweatherdefinitionbtn1{
	left: 134px;
    position: absolute;
    top: 405px;
}

.navweatherdefinitionbtn2 {
    left: 394px;
    position: absolute;
    top: 435px;
}
.navweatherdefinitionbtn3 {
    left: 657px;
    position: absolute;
    top: 405px;
}

.navweatherdefinition-content{

	position: absolute;
	left: 98px;
	top: 251px;
	width: 830px;
	height: 145px;
	overflow: auto;
	text-align: left;
	font-family: comic sans ms;
	font-size: 18px;
	font-weight: normal;
	color: #000000;


}

#definition .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}

.bpcontentweatherdefinition{
	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;
}

#pressurize .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}


#wacky .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}


.bpcontentwacky{
	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;
}


#tell_future .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}
.bpcontentweathertellfuture{
	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;
}

#prepared .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}

#weather_change .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}

.bpcontentweatherchange{

	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;

}

#safed .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}

.bpcontentstayingsafe{

	color: #000000;
    font-family: "comic sans ms";
    font-size: 18px;
    font-weight: normal;
    height: 356px;
    left: 550px;
    overflow-y: auto;
    position: absolute;
    text-align: left;
    top: 266px;
    width: 413px;

}

#storm .bptitleholder h1{
	text-transform:uppercase;
	color: #ffffff !important;
	font-family:"comic sans ms";
	font-weight: bold;
	padding: 0;
	margin: 0;

}